  
  /*Scrollbar*/
  /*Ancho*/
::-webkit-scrollbar {
    width: 10px;
}
  /*parte de atras*/
::-webkit-scrollbar-track {
    background: #cc0000;
    
}
  /*pasrte de enfrente*/
::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 50px;
}
  
/*Menu*/    
h1,h3,h4{
    text-align: center;
}
.menBt{
    height: 50px;
    margin-bottom: 10px;
    font-size: large;
}

.contProd{
  width: 90%;
}

.imgCar{
  height: 200px;
}


