
.ContenedorIndex{
  height: 95%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*Carrusel*/
.CarruselIndex{
  background-color: aqua;
  width: 93%;
  height: 300px;
  margin: 20px 20px 20px 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*Contenedores*/
.ProductosIndex{
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.ProductoIndex{
  background-color: rgb(231, 231, 231);
  height: 380px;
  width: 350px;
  align-items: center;
  text-align: center;
  margin: 10px;

}
.ProductosIndex a{
  text-decoration: none;
}
.NombreIndex{
 font-size: 30px;
}
.PrecioIndex{
  font-size: 20px;
  color:darkgray;
}

.D1Index{
  margin: 15px 15px 10px 15px;
  height: 80%;
  width: 70%;
}
 