.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Icono*/
.logoC{
  text-align: center;
}
.logo{
  height: 150px;
}

  /*Menu*/
.wrap{   
  max-width: 90%;
  margin: 30px auto;
}
  
ul.tabs{
  width: 100%;
  background: #363636;
  list-style: none;
  display: flex;
}
  
ul.tabs li{
  width: 18%;
}
  
ul.tabs li a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 20px 0px;
}
  
.active{
  background: #0984CC;
}
  
ul.tabs li a .tab-text{
  margin-left: 8px;
}